<!-- 
Exemplo mostrando log no console

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
        <pattern>[ %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n ]</pattern>
        </encoder>
    </appender>
    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
-->

<!-- Exemplo enviando logs para o logz.io -->

<configuration>
    <!-- Closes gracefully and finishes the log drain -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
  
    <appender name="LogzioLogbackAppender" class="io.logz.logback.LogzioLogbackAppender">
      <!-- Replace these parameters with your configuration -->
      <token>SUA_CHAVE</token>
      <logzioUrl>https://listener.logz.io:8071</logzioUrl>
      <logzioType>INFO</logzioType>
  
      <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>INFO</level>
      </filter>
    </appender>
  
    <root level="debug">
      <!-- IMPORTANT: This line is required -->
      <appender-ref ref="LogzioLogbackAppender"/>
    </root>
</configuration>